<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Real-Time ASL Recognition platform offering cutting-edge technology for recognizing American Sign Language in real-time.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - Real-Time ASL Recognition</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/js/bundle.js"></script>
</head>
<body>
    <header id="header-container">
    </header>
    <main>
        <div class="container3">
            <section class="register-hero">
                <div class="register-hero-content">
                    <h2>Unlock the Power of Real-Time ASL Recognition</h2>
                    <p>Register now and join a community transforming communication through technology.</p>
                </div>
            </section>
            <form id="myForm" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <div class="error-message" id="username-error" aria-live="polite"></div>
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <div class="error-message" id="email-error" aria-live="polite"></div>
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <div class="error-message" id="password-error" aria-live="polite"></div>
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label_tag }}
                    {{ form.confirm_password }}
                    <div class="error-message" id="confirm_password-error" aria-live="polite"></div>
                </div>
                <button type="submit" id="submitButton" class="btn btn-primary">Register</button>
            </form>
        </div>
    </main>
    <footer id="footer-container">
    </footer>
    <script src="/register.js"></script>
</body>
</html>